# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

**.log

# IDE
**.idea
**.vscode

# Dependencies
**venv
**__pycache__
*.ipynb_checkpoints/
**node_modules
**/package-lock.json
**.pnp
**.pnp.js

# Testing
**coverage

# Production
**build

# Misc
**.DS_Store
**.env.local
**.env.*.local

# Logs
**npm-debug.log*
**yarn-debug.log*
**yarn-error.log*

# BDD & Migrations
**/*.db
**migrations

# Jupyter-Lab / Notebook / Pycaret
**/output

# Fichiers de rendu de démonstration du Notebook de Pycaret
*.pkl
**Dockerfile
